header.main {
	width: 100%;
	height: 11vmin;
	position: relative;
	z-index: 5;
	> h1 {
		position: absolute;
		top: 50px;
		left: 100px;
		line-height: 0px;

		> a {
			font: bold 24px/1 'Poppins';
			color: #333;
		}
	}

	#gnb {
		position: absolute;
		top: 50px;
		left: 50%;
		transform: translateX(-50%);
		line-height: 0px;

		li {
			float: left;
			margin-left: 20px;
			line-height: 10px;
			a {
				font: 20px/1 'Poppins';
				color: #222;
			}
		}
	}
	.icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		display: none;
		color: beige;
	}
}
header.sub {
	width: 100%;
	height: 11vmin;
	position: relative;
	z-index: 5;
	> h1 {
		position: absolute;
		top: 50px;
		left: 100px;
		line-height: 0px;

		> a {
			font: bold 24px/1 'Poppins';
			color: #333;
		}
	}

	#gnb {
		position: absolute;
		top: 50px;
		left: 50%;
		transform: translateX(-50%);
		line-height: 0px;

		li {
			float: left;
			margin-left: 20px;
			line-height: 10px;
			a {
				font: 20px/1 'Poppins';
				color: #333;
			}
		}
	}
	.icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		display: none;
		color: beige;
	}
}

@media screen and (max-width: 1179px) {
	header.main {
		height: 12vmin;
		h1 a {
			top: 5vmin;
			color: beige;
			font: bold 6vmin/0 'arial';
		}
		#gnb {
			display: none;
		}
		.icon {
			top: 5vmin;
			display: block;
			transform: translate(10vmin, -50%);
			right: auto;
			left: 50%;
			color: beige;
		}
	}
	header.sub {
		height: 12vmin;
		h1 a {
			top: 6vmin;
			color: #222;
			font: bold 6vmin/0 'arial';
		}
		#gnb {
			display: none;
		}
		.icon {
			top: 6vmin;
			display: block;
			transform: translate(10vmin, -50%);
			right: auto;
			left: 50%;
			color: #222;
		}
	}
}
