.content {
	width: 100%;
	position: relative;

	> figure {
		width: 100%;
		height: calc(100vh - 110px);
		background: #bbb;
		margin-top: auto;
		position: relative;
		h1 {
			font: normal 40px/1 'arial';
			color: #777;
			margin-bottom: 50px;
			z-index: 2;
		}
	}

	.inner {
		width: 1180px;
		min-height: 400px;
		margin: 0 auto;
		position: relative;
		transition: 0.5s;
	}

	&.on {
		.inner {
			transform: translateY(0px);
			opacity: 1;
		}
	}
}
