.subHeader {
	width: 100%;
	height: 100vh;
	margin: -11vmin auto 0;

	.sub_inner {
		width: 100%;
		height: 50vh;
		margin: 0 auto;
		padding: 50px;
		position: relative;
		z-index: -1;

		> h2 {
			font: bold 150px/1 'Poppins';
			color: #333;
			position: absolute;
			bottom: 30px;
			left: 100px;
		}

		p {
			font: bold 22px/1.5 'Lora';
			color: #333;
			position: absolute;
			bottom: 30px;
			right: 100px;
			width: 25%;
		}
	}
	img {
		width: 100%;
		height: 50vh;
		object-fit: cover;
	}
}
