.content.brand {
	width: 100%;
	position: relative;

	figure {
		width: 100%;
		height: calc(100vh - 110px);
		background: rgb(27, 27, 27);
		margin-top: auto;
		position: relative;

		img {
			width: 50%;
			height: 100%;
			object-fit: cover;
		}
		.txt {
			width: 50%;
			height: 100%;
			top: 25%;
			left: 50%;
			position: absolute;
			text-align: center;
			h1 {
				margin-top: 3%;
				font: normal 5vmin/1 'arial';
				color: #bbb;
				margin-bottom: 50px;
				z-index: 2;
			}
			svg {
				width: 20%;
				height: 20%;
				fill: transparent;
				stroke: #bbb;
				stroke-width: 0.5vmin;
				stroke-dasharray: 920;
				stroke-dashoffset: 920;
				transition: 5s;
			}
			p {
				display: inline-block;
				width: 80%;
				color: #bbb;
				font: normal 2.5vmin/1.3 'arial';
			}
		}
	}
	.inner {
		width: 1180px;
		min-height: 400px;
		margin: 0 auto;
		position: relative;
		opacity: 1;
		transition: 0.5s;
	}

	&.on {
		.inner {
			transform: translateY(0px);
			opacity: 1;
		}
	}
}

@media screen and(max-width:1179px) {
	.content.brand {
		figure {
			height: calc(100vmin - 12vmin);

			img {
				width: 50%;
				height: 100%;
			}
			.txt {
				width: 50%;
				height: 100%;
				top: 15vmin;
				> h1 {
					margin-top: 1vmin;
					font: normal 4vmin/1 'arial';
					margin-bottom: 4vmin;
				}
				svg {
					width: 20%;
					height: 20%;
				}
				p {
					font: normal 2vmin/1.5 'arial';
				}
			}
		}
		.inner {
			width: 100%;
			transition: 0.5s;
		}
	}
}

@media screen and(max-width:539px) {
	.content.brand {
		figure {
			height: calc(100vmin - 12vmin);

			img {
				width: 100%;
				height: 100%;
				opacity: 0.5;
			}
			.txt {
				width: 100%;
				height: 100%;
				left: 0;
				top: 20vmin;
				> h1 {
					margin-top: 1vmin;
					font: normal 4vmin/1 'arial';
					margin-bottom: 4vmin;
				}
				svg {
					width: 20%;
					height: 20%;
				}
				p {
					width: 90%;
					font: normal 2vmin/1.5 'arial';
				}
			}
		}
		.inner {
			width: 100%;
			transition: 0.5s;
		}
	}
}
